* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
    width: 800px;
    margin: 0% auto;
    background-image: url("bg.jpg");
    padding: 5px 10px 5px 10px;
}

.text {
    font-size: 12px;
    color: slategrey;
    line-height: 20px;
    margin: 5px 10px 10px 20px
}

h3 {
    font-size: 16px;
    color: sandybrown;
    background-color: #ffffff;
    padding: 7px;
}

.end {
    font-size: 14px;
    text-align: center;
}

a {
    color: black
}

table {
    text-align: center
}